name: Test, build, push and deploy

on:
  push:
    branches:
      - master

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: prod
  GKE_ZONE: europe-north1-a
  DEPLOYMENT_NAME: gke-test
  TZ: Europe/Amsterdam
  IMAGE: thealexander/shiny-octo-spork

jobs:
  build:
    name: CI/CD pipeline
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Build docker image
        run: |
          docker build --tag ${{ env.IMAGE }} .

      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ env.IMAGE }}
          tags: ${{ GITHUB.SHA }}, latest
          tag_with_ref: true

      - name: Setup GKE deployment
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          service_account_key: ${{ secrets.GKE_SA_KEY }}
          project_id: ${{ secrets.GKE_PROJECT }}

      - run: |-
          gcloud container clusters get-credentials ${{ env.$GKE_CLUSTER }} --zone ${{ env.$GKE_ZONE }

      - name: Set up Kustomize
        run: |-
          curl -sfLo kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64
          chmod u+x ./kustomize

      - name: Deploy to GKE
        run: |-
          ./kustomize edit set image $IMAGE:${{ GITHUB.SHA }}
          ./kustomize build . | kubectl apply -f -
          kubectl rollout status deployment/$DEPLOYMENT_NAME
          kubectl get services -o wide
